---
- name: Download flannel manifest to the cluster.
  ansible.builtin.get_url:
    url: "{{ flannel_url }}"
    dest: ~/kube-flannel.yml
    mode: 0664

- name: Update pod subnet
  replace:
    path: "~/kube-flannel.yml"
    regexp: "10.244.0.0/16"
    replace: "{{ podsubnet }}"

- name: Update flannel interface
  shell: sed -i -e '/containers:$/,/args:$/{/args:$/a '"\        - --iface={{cni_iface}}" -e '}' ~/kube-flannel.yml
   
- name: Install flannel CNI
  k8s:
    kubeconfig: "/home/{{ ansible_user }}/.kube/config" 
    state: present              
    src: ~/kube-flannel.yml
